.Cell {
  border: 1px solid lime;
  display: inline-block;
  vertical-align: top;
  transition: background-color 400ms;
  box-sizing: border-box;
}

.Cell.alive {
  background-color: darkcyan;
}

.Cell.dead {
  background-color: #000;
}