.App {
  text-align: center;
  width: 100%;
  padding-top: 50px;
  min-height: 100vh;
  box-sizing: border-box;
  background: #EEE
}

.App .board {
  display: inline-block;
  width: 90vw;
  max-width: 600px;
}


/**
 * Color Theme
 **/
.App.dark {
  background: #222;
}