.Controls {
  padding-bottom: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.Controls button {
  background-color: cornflowerblue;
  color: #222;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin: 5px;
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 200ms;
  width: 20%;
}

.Controls button:focus {
  outline: none;
}

.Controls button:hover {
  background-color: #75A6FE;
}

.Controls button:disabled {
  background-color: gray;
  color: #444;
  cursor: inherit;
}